@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul a {
	padding: 1rem;
	border-bottom: 1px solid rgb(63, 62, 62);
	text-align: center;
	font-size: large;
}

ul a:hover {
	color: #71f7d8;
	/* background-color:aqua; */
}
.NavLink {
	padding: 1rem;
	border-bottom: 1px solid rgb(63, 62, 62);
	text-align: center;
	font-size: large;
	text-decoration: none;
}
.NavLink:hover {
	color: #71f7d8;
}
